/* Color Theme Swatches in Hex */
.color-theme_a-1-hex { color: #BFB6AE; }
.color-theme_a-2-hex { color: #402516; }
.color-theme_a-3-hex { color: #A6633C; }
.color-theme_a-4-hex { color: #A68776; }
.color-theme_a-5-hex { color: #A6341B; }


* {
    margin: 0;
}

/*Header*/
nav {
    height: 10vh;
    background-color: #BFB6AE;
}
.barra-nav {
    display: flex;
}

.barra-nav form{
    margin-top: 30px;
    margin-left: 140px;
}


/*Body*/
.bienvenida {
    margin: 30px;
}

/*Sections*/
.vista-productos {
    background-color: #BFB6AE; 
    width: 90vh;
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 50px;
}

.prod {
    height: 300px;
    margin: 20px;
    border: 1px solid #ccc5bf;
    text-align: center; /* Centra el contenido dentro de cada .prod horizontalmente */
    padding: 10px; /* Agrega espacio interno para separar el contenido del borde */
   /*  max-width: 300px; Limita el ancho máximo de cada .prod (ajusta según sea necesario) */
}
.imagen-prod-container {
    width: 200px;
    height: 200px;
    margin: 25px;
}
.prod img {
    max-width: 100%; /* Establece el ancho máximo al 100% del contenedor */
    max-height: 100%; /* Establece la altura máxima al 100% del contenedor */
}
.prod:hover img {
    transform: scale(1.1); /* Cambia la escala de la imagen en un 10% al hacer hover */
    transition: 0.6s;
}




/*footer*/

.list-nav  {
    list-style: none;
}